<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio Philia093</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-pink-700 text-white min-h-screen font-sans antialiased">

    <nav class="p-4 bg-pink-900 shadow-md border-b border-purple-500">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-300 to-purple-300">
                PhiLia093
            </h1>
        </div>
    </nav>

    <main class="container mx-auto p-8">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>